<div class="supplier_dashboard">
<mat-toolbar class="header">
  <h5>Welcome Back</h5>
  <div class="header__title" *ngFor="let detail of garages">
    <h6 class="header__title-text"*ngIf="detail.garageEmail === supplier">{{detail?.garageName}} Garage Serices Limited</h6>
  </div>
  <div class="header-toolbar">
    <a href="http://" target="_blank" rel="noopener noreferrer">Home</a>
    <a href="http://" target="_blank" rel="noopener noreferrer">Menu</a>
    <a href="http://" target="_blank" rel="noopener noreferrer">About</a>
    <a href="/#/contact" target="_blank" rel="noopener noreferrer">Contact</a>
    <a href="" rel="noopener noreferrer">Sign out</a>

  </div>
</mat-toolbar>

<div class="details">
  <table>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
    <tr *ngFor="let detail of garages">
      <td *ngIf="detail.garageEmail === supplier">{{detail?.garageName}}</td>
      <td *ngIf="detail.garageEmail === supplier">{{detail?.garageLocation}}</td>
      <td *ngIf="detail.garageEmail === supplier">{{detail?.garageEmail}}</td>
      <td *ngIf="detail.garageEmail === supplier">{{detail?.garagePhone}}</td>
    </tr>
    <tr *ngFor="let detail of garages">
      <td *ngIf="detail.garageEmail === supplier">Services:</td>
      <td *ngIf="detail.garageEmail === supplier">
        <ul style="padding-left: 0;">
          <li>{{detail?.service1}}</li>
          <li>{{detail?.service2}}</li>
          <li>{{detail?.service2}}</li>
          <li>{{detail?.service2}}</li>
          <li>{{detail?.service2}}</li>
        </ul>
      </td>
    </tr>
  </table>
</div>

<!-- status update -->
<div class="status-update">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 3em;">
    <a class="navbar-brand" style="color:white;">Active Product Orders & Deliveries</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto">
       </ul>
    </div>
  </nav>
  <!-- list -->
  <div class="container" id="main-container">
    <div class="row">
      <div *ngFor="let delivery of deliveries" class="col-md-6 col-xl-4" style="margin-right: 2rem; background-color: rgb(243, 248, 250)">
         <div class="card m-b-30" *ngIf="delivery.supplierEmail === supplier">
            <div class="card-body row">
               <div class="col-6">
                 <p><i class="fa  fa-truck" style="font-size: x-large" aria-hidden="true"></i></p>
                <p>{{delivery?.productName}}</p>
               </div>
               <div class="col-6 card-title align-self-center mb-0">
                  <h5>{{delivery?.customerName}}</h5>
                  <p class="m-0">{{delivery?.customerPhone}}</p>
               </div>
            </div>
            <ul class="list-group list-group-flush">
               <li class="list-group-item">Category : {{delivery?.productCategory}}</li>
               <li class="list-group-item">Delivery Location : {{delivery?.productDeliveryLocation}}</li>
               <li class="list-group-item">Route ID : {{delivery?.id}}</li>
               <li class="list-group-item">Supplier Name : {{delivery?.supplierName}}</li>
               <li class="list-group-item">Supplier Email : {{delivery?.supplierEmail}}</li>
               <li class="list-group-item">Supplier Location : {{delivery?.supplierLocation}}</li>
               <li class="list-group-item">Supplier Phone : {{delivery?.supplierPhone}}</li>
               <li class="list-group-item">Product ID : {{delivery?.productId}}</li>
               <li class="list-group-item">Route Code : {{delivery?.routeCode}}</li>
               <li class="list-group-item">Supplier ID : {{delivery?.supplierId}}</li>
            </ul>
            <div class="card-body">
              <!-- <a (click)="onSelectSupplier" (loaded)="getId(product?.id)">
                 <button id="unselected" (click)="onSelectProduct(product?.customerName, product?.customerPhone,
                product?.productName,
                product?.productCategory,
                product?.productDeliveryLocation,
                product?.id )" class="btn btn-primary select-btn">Assign to {{selectedSupplierName}}</button>
              </a> -->
              <a (click)="onSelectDelivery"><button class="btn btn-primary select-btn send" (click)="onSelectDelivery(delivery?.id,delivery?.productId,delivery?.customerName,
                delivery?.customerPhone,delivery?.productName,delivery?.productCategory,delivery?.productDeliveryLocation,delivery?.routeCode,
                delivery?.supplierId,delivery?.supplierName,delivery?.supplierEmail,delivery?.supplierLocation,delivery?.supplierPhone)">Delivered</button></a>
              <!-- <a href="#"><button class="btn btn-primary select-btn pending">Pending</button></a> -->
              <a (click)="onSelectDelivery"><button class="btn btn-primary select-btn declined" (click)="onSelectCancel(delivery?.id,delivery?.productId,delivery?.customerName,
                delivery?.customerPhone,delivery?.productName,delivery?.productCategory,delivery?.productDeliveryLocation,delivery?.routeCode,
                delivery?.supplierId,delivery?.supplierName,delivery?.supplierEmail,delivery?.supplierLocation,delivery?.supplierPhone)">Cancelled</button></a>
            </div>
         </div>
      </div>
    </div>
  </div>

   <!-- Notification for no deliveries -->
   <div *ngIf="deliveries?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">NO ACTIVE DELIVERIES!</h4>
      <p>No on-going deliveries were found.</p>
    </div>
    </div>


  <div class="onroad-orders" id="deliveries-container">
    <mat-card class="material-table">
      <mat-card-title class="material-table__header">

      </mat-card-title>

  </mat-card>
</div>


<!-- status tables -->
<div class="active-deliveries">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 3em;">
    <a class="navbar-brand" style="color:white;"> Product Orders, Deliveries & Status</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto">
       </ul>
    </div>
  </nav>
  <div class="onroad-orders" id="deliveries_status-container">
    <mat-card class="material-table">
      <mat-card-title class="material-table__header">
        <h5 class="material-table__title">Product Update Table</h5>
        <app-settings-menu></app-settings-menu>
      </mat-card-title>
      <mat-card-content >
    <table>
      <tr><th>Product Name</th><th>Customer Name</th><th>Customer Phone</th><th>Product Category</th><th>Product Delivery Location</th>
        <th>Supplier's Name</th><th>Supplier's Email</th><th>Supplier's Phone</th> <th>Status</th>
      </tr>
      <tr>
      <tr *ngFor= "let delivery of deliveryStatus" ng-mousemove="getItemId(delivery?.productId)" >
        <td *ngIf="delivery.supplierEmail === supplier">{{delivery?.productName}}</td>
        <td *ngIf="delivery.supplierEmail === supplier">{{delivery?.customerName}}</td>
        <td *ngIf="delivery.supplierEmail === supplier">{{delivery?.customerPhone}}</td>
        <td *ngIf="delivery.supplierEmail === supplier">{{delivery?.productCategory}}</td>
        <td *ngIf="delivery.supplierEmail === supplier">{{delivery?.productDeliveryLocation}}</td>
        <td *ngIf="delivery.supplierEmail === supplier">{{delivery?.supplierName}}</td>
        <td *ngIf="delivery.supplierEmail === supplier">{{delivery?.supplierEmail}}</td>
        <td *ngIf="delivery.supplierEmail === supplier">{{delivery?.supplierPhone}}</td>
        <span class="material-table__content-badge" *ngIf="delivery.supplierEmail === supplier">
        <td *ngIf="delivery.status === 'pending'" class="material-table__content-badge pending">{{delivery?.status}}</td>
         <td *ngIf="delivery.status === 'delivered'" class="material-table__content-badge send">{{delivery?.status}}</td>
         <td *ngIf="delivery.status === 'cancelled'" class="material-table__content-badge declined">{{delivery?.status}}</td>
        </span>
        <!-- <td> <a (click)="onDeleteDeliveryStatus(delivery?.id, delivery)" style="background-color: transparent; border: 0px;" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><mat-icon>delete_sweep</mat-icon></a></td> -->
      </tr>
    </table>
  </mat-card-content>
  </mat-card>
  </div>


<app-footer></app-footer>

</div>
