@import 'src/app/styles/colors';
@import 'src/app/styles/font';
@import 'src/app/styles/variables';

table {
  width: 100%;
  margin-bottom: 2rem;
}
tr {
  border-bottom: 1px solid #707070;
  border-top: 1px solid #707070;
  padding: 2rem;
  background-color: #E8EAFC;
}
td, th{
  padding: 2rem;

}
caption{
  width: 100%;
}
.status{
  width: fit-content;
  border-radius: 32px;
  color: $white;
  text-align: center;
  font-size: 13px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: $fw-lighter;
  letter-spacing: 0.457px;
  background-color: $green;
  text-transform: capitalize;
}
.select-btn{
  font-size: small;
  margin-left: 0.7rem;
}


.material-table {
  margin-top: 24px;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;

  &__header {
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding: 24px 24px 8px;
    margin-bottom: 0;
  }

  &__title {
    font-size: $fs-medium;
    font-weight: $fw-lighter;
    margin: 0;
    line-height: 40px;
  }

  &__content {
    height: 424px;
    overflow-y: hidden;
    overflow-x: scroll;

    @media (max-width: $small) {
      height: auto;
    }
  }

  &__table {
    width: 100%;
  }

  &__table-row {
    height: 64px;
  }

  &__table-row-title {
    color: $dark-grey;
    font-size: $fs-small;
    font-weight: $fw-lighter;
    line-height: 24px;
    text-transform: uppercase;
    padding: 16px;
  }

  &__table-content {
    color: $dark-grey;
    font-size: $fs-small;
    padding: 20px;
  }

  &__content-badge {
    width: fit-content;
    // border-radius: 32px;
     color: $white;
     text-align: center;
     padding: 25px 15px;
     font-size: 13px;
     box-sizing: border-box;
     font-family: "Roboto", "Helvetica", "Arial", sans-serif;
     font-weight: $fw-lighter;
     line-height: 1.75;
     letter-spacing: 0.457px;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

mat-menu {
  position: absolute;
}

.send {
  background-color: $green;
}

.pending {
  background-color: $yellow;
}

.declined {
  background-color: $pink;
}
